* {
  margin: 0;
}

body {
  padding: 30px;
}

header {
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: rgb(252, 249, 249, 0.9)
}


#box1:hover {
  cursor: pointer;

}

#box2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25em;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: small;
}

#box2 li:hover {
  cursor: pointer;
  color: rgba(238, 46, 62, 0.911);
}


/* 첫번째 이미지박스 */



#introBox{
  background-color: rgb(250, 0, 62);
  width: 100%;   
  display: flex;
  justify-content: center;
}

#introBoxContainer {
  width: 100%;
  max-width: 1080px;
  height: 20em;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

#left{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  color: white;
}

#left h1 {
  margin-bottom: 0.25em;
}

#left h3 {
  margin-bottom: 0.25em;
}

#whitebutton {
  margin-top: 0.5em;
  color: rgb(250, 0, 62);
  font-weight: border;
  cursor: pointer;
  padding: 1em 1.7em;
  background-color: white;
  border: solid white;
}
#whitebutton:hover {
  cursor: pointer;
  background-color: black;
  border: solid black;
  color: white;
}


#introRight{
  width: 40%;
  height: 90%;
  margin-top: 2em;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://try.htmldemo.net/ronak-v1/assets/img/slider/1.png");
}



/* About US */


#title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 2em 0;
}

#us{
  color:red;
}


#secondBox {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center; 
  gap: wrap;
}

#aboutusContainer {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#aboutusLeft {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 1.75em;
  }

#aboutusLeft h3 {
  margin-bottom: 0.75em;
}

#aboutusLeft p {
  margin-bottom: 0.75em;
}

#aboutusLeft li {
  margin-bottom: 0.5em;
  font-weight: bold;
  }


#redbutton{
  margin-top: 3em;
  color: white;
  font-weight: border;
  cursor: pointer;
  padding: 1em 1.75em;
  background-color: rgb(250, 0, 62);
   border: solid rgb(250, 0, 62);
}
 #redbutton:hover {
  cursor: pointer;
  background-color: black;
  border: solid black;
}


#aboutusRight {
    width: 100%;
    height: 200%;  
    background-size: fixed;
    background-repeat: no-repeat;
    background-image: url("https://try.htmldemo.net/ronak-v1/assets/img/banner/about.jpg");
  }

